<%
    @current_player = Player.find(@game.player_id)
    goal_description = JSON.parse(@game.goal_description)
%>



<h1><%= link_to @current_player.username, player_path(@current_player) %>'s New Game of CupThrow!</h1>
<br><br><hr><br><br>




<h2>Goal of this Game</h2>
<strong>Scoring Strategy:</strong> <%= goal_description["scoring"] %>
<br><br><strong>Coins: </strong>
<table class="cointable">
    <tr>
        <th>Denomination</th>
        <th>Side Up</th>
        <th></th>
    </tr>
    <% goal_description.each do |key,value| %>
        <% if value['item'] == ":coin" %>
            <tr>
                <td><%= value['denomination'] -%></td> 
                <td><%= value['up'] -%></td>
            </tr>
        <% end %> 
    <% end %>
</table>

<br><strong>Dice: </strong>
<table class="cointable">
    <tr>
        <th>Colour</th>
        <th>Sides</th>
        <th>Side Up</th>
        <th></th>
    </tr>
    <% goal_description.each do |key,value| %>
        <% if value['item'] == ":die" %>
            <tr>
                <td><%= value['colour'] -%></td> 
                <td><%= value['sides'] -%></td> 
                <td><%= value['up'] -%></td>
            </tr>
        <% end %> 
    <% end %>
</table>


<br><br><hr><br><br>






<h2>Your Bag Contents:</h2>
<% bag = JSON.parse(@current_player.bag_desc) %>
<br><strong>Coins</strong>
<table class="cointable">
    <tr>
        <th>Denomination</th>
    </tr>
    <% bag.each do |key,value| %>
        <% if value['item'] == ":coin" %>
            <tr>
                <td><%= value['denomination'] -%></td> 
            </tr>
        <% end %> 
    <% end %>
</table>

<br><strong>Dice</strong>
<table class="cointable">
    <tr>
        <th>Colour</th>
        <th>Sides</th>
    </tr>
    <% bag.each do |key,value| %>
        <% if value['item'] == ":die" %>
            <tr>
                <td><%= value['colour'] -%></td> 
                <td><%= value['sides'] -%></td> 
            </tr>
        <% end %> 
    <% end %>
</table>

<br><br><hr><br><br>

<h2>Load your Cup</h2>

<%= form_with scope: :game, url: games_path, local: true do |form| %>
    <%= hidden_field_tag(:id, @current_player.id) %>
    <p><strong>Coin Characteristics:</strong></p>
    <p>
        <%= form.label :'Denomination: ' %>
        <%= form.select :order, ["","Nickel", "Dime", "Quarter", "Loonie", "Toonie"] %>
    </p>
    
    <p><strong>Dice Characteristics:</strong></p>
    <p>
        <%= form.label :'Colour: ' %>
        <%= form.select :order, ["Red", "Yellow", "Green", "Blue", "Black", "White"] %>
    </p>
    <p>
        <%= form.label :'Sides: ' %>
        <%= form.select :order, ["","1 side", "2 sides", "3 sides", "4 sides", "5 sides"] %>
    </p>
    <p>
      <%= form.submit :'Load'%>
    </p>
<% end %>





<br><br><br><h2>Throw your Cup</h2>
<%= form_with scope: :game, url: games_path, local: true do |form| %>
    <%= hidden_field_tag(:id, @current_player.id) %>
    <p>
      <%= form.submit :'Throw 1'%>
    </p>
<% end %>
<%= form_with scope: :game, url: games_path, local: true do |form| %>
    <%= hidden_field_tag(:id, @current_player.id) %>
    <p>
      <%= form.submit :'Throw 2'%>
    </p>
<% end %>
<%= form_with scope: :game, url: games_path, local: true do |form| %>
    <%= hidden_field_tag(:id, @current_player.id) %>
    <p>
      <%= form.submit :'Throw 3'%>
    </p>
<% end %>





<br><br><hr><br><br>
<h2>Scores for this game</h2><br>
<h3>Goal Score: <%= @game.goal_score %></h3>
<h3><%= @current_player.username %>'s Score: <%= @game.player_score %></h3>
<h3>Computer's Score: <%= @game.server_score %></h3>
<br>
